{
  "version": "0.2.0",
  "configurations": [
    {
      "name": "Microsoft cloud sandbox",
      "type": "al",
      "request": "launch",
      "environmentType": "Sandbox",
      "environmentName": "YOUR-SANDBOX-NAME",
      "tenant": "YOUR-TENANT-ID",
      "startupObjectId": 90200,
      "startupObjectType": "Page",
      "breakOnError": "All",
      "launchBrowser": true
    }
  ]
}
